.gallery {
  border: 1px solid red;

  &__item {
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 270px;
  }
}

@media screen and (max-width: $screen-md) {
  .gallery {
    &__item {
      height: 220px;
      &:nth-child(3) {
        background-image: url(./images/5.jpg);
      }
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .gallery {
    &__item {
      height: 220px;
    }
  }
}
