@import "./variables";

.grid {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.grid--no-gutter {
  margin-left: -15px;
  margin-right: -15px
}

[class*="col-"] {
  flex-shrink: 0;
  flex-grow: 0;
}

@for $i from 1 through $total-cols {
  .col-#{$i} {
    width: $col-size * $i;
  }
}

@media screen and (max-width: $screen-xl - 1px) {
  @for $i from 1 through $total-cols {
    .col-lg-#{$i} {
      width: $col-size * $i;
    }
  }
}

@media screen and (max-width: $screen-lg - 1px) {
  @for $i from 1 through $total-cols {
    .col-md-#{$i} {
      width: $col-size * $i;
    }
  }
}

@media screen and (max-width: $screen-md - 1px) {
  @for $i from 1 through $total-cols {
    .col-sm-#{$i} {
      width: $col-size * $i;
    }
  }
}

@media screen and (max-width: $screen-sm - 1px) {
  @for $i from 1 through $total-cols {
    .col-xs-#{$i} {
      width: $col-size * $i;
    }
  }
}
