.baner {
  min-height: 390px;
  width: 100%;
  background: url(./images/banner.webp) center / cover no-repeat, #ababab;
  position: relative;

  &__title {
    background-color: #fff;
    font-size: 33px;
    font-weight: 1;
    padding: 17px;
    text-transform: uppercase;
    font-weight: 400;
    border: 5px solid hsl(0, 0%, 0%);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -70%);

    @media (max-width: 990px) {
      top: 30%;
      transform: translate(-50%, -50%);
      font-size: 24px;
    }
    @media (max-width: 768px) {
      font-size: 24px;
      padding: 9px;
      text-align: center;
    }
  }

  // Нижнє підкреслення
  &__link {
    color: #000;
    letter-spacing: 10px;
    background: linear-gradient(#000, #000) no-repeat;
    background-size: 100% 1px;
    background-position: 0 1.15em;
    text-shadow: 0.05em 0 white, -0.05em 0 white;
    @media (max-width: 768px) {
      letter-spacing: 6px;
    }
  }
}
